In [1]:
!python main.py --csv "MYX_FCPO1!, 5.csv" --out "MYX_FCPO1!, 5-output.csv"

/home/simkwongwui/personal-scripts/trading-view-ai-assist-main/trading-view-ai-assist/lorentz-method-ai/python/lc/pipeline/ann.py:172: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  is_last_buy = (fs.shift(4) == 1) & ema_up.shift(4).fillna(True) & sma_up.shift(4).fillna(True)
/home/simkwongwui/personal-scripts/trading-view-ai-assist-main/trading-view-ai-assist/lorentz-method-ai/python/lc/pipeline/ann.py:173: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  is_last_sell = (fs.shift(4) == -1) & ema_dn.shift(4).fillna(True) & sma_dn.shift(4).fillna(True)
/home/simkwongwui/personal-scripts/trading-view-ai-assist-main/trading-view-ai-assist/lorentz-method-ai/python/lc/pipeline/ann.py:175: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  end_long_strict = ((is_held_four & is_last_buy) | (is_held_lt_four & is_new_sell & is_last_buy)) & start_long.shift(4).fillna(False)
/home/simkwongwui/personal-scripts/trading-view-ai-assist-main/trading-view-ai-assist/lorentz-method-ai/python/lc/pipeline/ann.py:176: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  end_short_strict = ((is_held_four & is_last_sell) | (is_held_lt_four & is_new_buy & is_last_sell)) & start_short.shift(4).fillna(False)
/home/simkwongwui/personal-scripts/trading-view-ai-assist-main/trading-view-ai-assist/lorentz-method-ai/python/lc/pipeline/ann.py:182: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  end_long_dyn = is_bear_change & v_long.shift(1).fillna(False)
/home/simkwongwui/personal-scripts/trading-view-ai-assist-main/trading-view-ai-assist/lorentz-method-ai/python/lc/pipeline/ann.py:183: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  end_short_dyn = is_bull_change & v_short.shift(1).fillna(False)
Saved predictions to MYX_FCPO1!, 5-output.csv

In [2]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)

In [3]:
df = pd.read_csv('MYX_FCPO1!, 5-output.csv')

In [4]:
df.shape

(2517, 23)

In [5]:
from lc.pipeline.trade_metrics import evaluate_trades_with_metrics

trades, summary = evaluate_trades_with_metrics(df)
print(trades[["side", "entry_price", "exit_price", "pnl"]])
print(summary)

     side  entry_price  exit_price   pnl
0   short       4042.0      4027.0  15.0
1    long       4044.0      4048.0   4.0
2   short       4036.0      4043.0  -7.0
3    long       4029.0      4050.0  21.0
4   short       4072.0      4066.0   6.0
..    ...          ...         ...   ...
57  short       4229.0      4230.0  -1.0
58   long       4249.0      4249.0   0.0
59  short       4235.0      4249.0 -14.0
60   long       4252.0      4256.0   4.0
61  short       4257.0      4248.0   9.0

[62 rows x 4 columns]
TradeSummary(total_pnl=46.0, max_drawdown=76.0, win_rate_pct=48.38709677419355, win_to_lose_ratio=1.1111111111111112, total_trades=62, winning_trades=30, losing_trades=27, breakeven_trades=5)

In [11]:
trades.describe()

       entry_index   exit_index  entry_price   exit_price        pnl
count    62.000000    62.000000    62.000000    62.000000  62.000000
mean   1497.548387  1503.306452  4087.774194  4089.516129   0.741935
std     582.670243   582.820491    71.044761    71.153434  10.500485
min     564.000000   568.000000  3988.000000  3994.000000 -35.000000
25%     973.500000   977.500000  4044.000000  4047.250000  -5.000000
50%    1443.500000  1447.500000  4072.000000  4071.500000   0.000000
75%    1904.750000  1943.250000  4096.750000  4101.750000   6.750000
max    2508.000000  2512.000000  4257.000000  4259.000000  31.000000

In [6]:
df.columns

Index(['time', 'open', 'high', 'low', 'close', 'volume', 'rsi_14_1',
       'wt_10_11', 'cci_20_1', 'adx_20_2', 'rsi_9_1', 'kernel_rq_8_8.0_25',
       'kernel_gauss_8_2_25', 'ema_200', 'sma_200', 'atr_14', 'prediction',
       'signal', 'start_long', 'start_short', 'end_long', 'end_short',
       'kernel_estimate'],
      dtype='object')

In [7]:
for var in ['start_long', 'start_short', 'end_long', 'end_short']:
    print(df[var].value_counts())

start_long
False    2482
True       35
Name: count, dtype: int64
start_short
False    2480
True       37
Name: count, dtype: int64
end_long
False    2485
True       32
Name: count, dtype: int64
end_short
False    2482
True       35
Name: count, dtype: int64